@model JiraClone.Data.StatusConfig
@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/status-create.css" />
}

<div class="status-create-page">

    <h2>Create Status</h2>

    <form method="post" class="status-create-form">

        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" />
        </div>

        <div>
            <button type="submit" class="btn-save">Save</button>
            <a href="/StatusConfig" class="btn-cancel">Cancel</a>
        </div>

    </form>

</div>
